@font-face {
  font-family: 'Inter';
  src: url(../../../../style/fonts/inter.woff2);
}

.a-button
{
  display: inline-block;
  padding: 12px 16px;
  background-color: none;
  color: var(--neutral-900);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-family: 'Inter';
  text-transform: uppercase;
}

.a-button:hover
{
  background-color: none;
  color: var(--neutral-900);
  text-decoration-line: underline;
  text-transform: uppercase;
}

.a-button:focus
{
  background-color: var(--primary-500);
  outline: 2px solid var(--primary-300);
  color: var(--base-100);
}

.a-button:active
{
  background-color: var(--primary-300);
  color: var(--base-200);
}

