
/* Primary */

.primary100 {
  color: #011D7E;
}

.primary200 {
  color: #0025A4;
}

.primary300 {
  color: #0038FB;
}

.primary400 {
  color: #5F71AE;
}

.primary500 {
  color: #BAC5EC;
}

.primary600 {
  color: #E5EBFF;
}

/* Informative */

.informative100 {
  color: #947300;
}

.informative200 {
  color: #C5910D;
}

.informative300 {
  color: #DA9443;
}

.informative400 {
  color: #BDB090;
}

.informative500 {
  color: #CFC09A;
}

.informative600 {
  color: #F9EEE1;
}


/* Success */

.success100 {
  color: #427433;
}

.success200 {
  color: #4D9F35;
}

.success300 {
  color: #66DA43;
}

.success400 {
  color: #9DB795;
}

.success500 {
  color: #A6CF9A;
}

.success600 {
  color: #E6F9E1;
}

/* Danger */

.danger100 {
  color: #743333;
}

.danger200 {
  color: #A94040;
}

.danger300 {
  color: #FF0000;
}

.danger400 {
  color: #A77474;
}

.danger500 {
  color: #CF9A9A;
}

.danger600 {
  color: #FFE9E9;
}

/* Neutral */

.neutral100 {
  color: #333333;
}

.neutral200 {
  color: #686767;
}

.neutral300 {
  color: #8D8D8D;
}

.neutral400 {
  color: #ACACAC;
}

.neutral500 {
  color: #C9C9C9;
}

.neutral600 {
  color: #E9E9E9;
}

/* Base */

.base100 {
  color: #000000;
}

.base200 {
  color: #FFFFFF;
}