@font-face {
    font-family: 'Michroma';
    src: url('../../../style/fonts/michroma.woff2');
}

body {
    background-color: #000E41;
}

.o-meeting {
    font-family: 'Michroma';
}

.nowrap {
    white-space: nowrap;
}