@font-face {
    font-family: 'Michroma';
    src: url('../../../style/fonts/michroma.woff2');
}

body {
    background-color: #000E41;
}

.o-meeting {
    font-family: 'Michroma';
}

.o-meeting__competitors {
    display: inline;
    align-items: center;

}