@font-face {
  font-family: 'Inter';
  src: url('../../../style/fonts/inter.woff2');
}

.o-footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px 100px 20px;
  background-color: var(--primary-200);
  color: var(--base-200);
}

.o-footer__content {
  display: inline;
  font-family: 'Inter';
  align-items: center;

}

.o-footer__logo {

  margin: 20px;
}