@font-face {
  font-family: 'Anton';
  src: url('../../../style/fonts/anton.woff2');
}

.o-footer {
  font-family: 'Anton';

  display: flex;
  justify-content: space-around;
  padding: 10px 20px 100px 20px;
  background-color: var(--primary-200);
  color: var(--base-200);
}

.o-footer__content {
  display: inline;
  align-items: center;
  color: #EFEFEF;

}

.o-footer__logo {

  margin: 20px;
}