@font-face {
  font-family: 'Anton';
  src: url('../../../style/fonts/anton.woff2');
}

.o-embed__user{
  display: flex;
}

.posts {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.o-insta{
  margin: 16px;
}

.insta-title {
  font-family: 'Anton';
  font-size: 32px;
  margin: 40px;
}