.m-textfield
{
  color: var(--neutral-100);
  border-radius: 4px;
}

.m-textfield:hover
{
  color: var(--base-100);
  background-color: var(--primary-500);
}

.m-textfield:focus
{ 
  border-color: var(--primary-300);
}

.m-textfield:active
{
  background-color: var(--primary-500);
}  