:root {
  /* Primary */
  --primary-100: #000E41;
  --primary-200: #031452;
  --primary-300: #002DC9;
  --primary-400: #7289D7;
  --primary-500: #869CE8;
  --primary-600: #A5B0D7;
  --primary-700: #B4C4FF;
  --primary-800: #C9D5FF;
  --primary-900: #E0E7FF;

  /* Neutral */
  --neutral-100: #232323;
  --neutral-200: #414141;
  --neutral-300: #6F6E6E;
  --neutral-400: #8B8B8B;
  --neutral-500: #A1A1A1;
  --neutral-600: #BEBEBE;
  --neutral-700: #C9C9C9;
  --neutral-800: #DDDDDD;
  --neutral-900: #EFEFEF;
}

/* Primary */

.primary100 {
  color: var(--primary-100);
}

.primary200 {
  color: var(--primary-200);
}

.primary300 {
  color: var(--primary-300);
}

.primary400 {
  color: var(--primary-400);
}

.primary500 {
  color: var(--primary-500);
}

.primary800 {
  color: var(--primary-800);
}

.primary900 {
  color: var(--primary-900);
}

/* Neutral */

.neutral500 {
  color: var(--neutral-500);
}

.neutral600 {
  color: var(--neutral-600);
}

.neutral700 {
  color: var(--neutral-700);
}

.neutral800 {
  color: var(--neutral-800);
}

.neutral900 {
  color: var(--neutral-900);
}

/* Neutral */

.neutral100 {
  color: var(--neutral-100);
}

.neutral200 {
  color: var(--neutral-200);
}

.neutral300 {
  color: var(--neutral-300);
}

.neutral400 {
  color: var(--neutral-400);
}

.neutral500 {
  color: var(--neutral-500);
}

.neutral600 {
  color: var(--neutral-600);
}