/* Main Style */

:root{
    --font-family: "Inter";
    --font-weight-1: bold;
    --font-weight-2: normal;
    --font-weight-3: 600;
    --font-weight-4: medium;
    --font-size-1: 40px; 
    --font-size-2: 20px;
    --font-size-3: 28px;
    --font-size-4: 14px;
    --font-size-5: 16px;
    --line-height-1: 1;
} 

.main-title
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
}

.subtitle
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-2);
    line-height: var(--line-height-1);
}

.title
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-3);
    line-height: var(--line-height-1);
    text-transform: uppercase;
}

.navigation
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-4);
    line-height: var(--line-height-1);
}

/* Style Specify */

.title_card
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-2);
    line-height: var(--line-height-1);
    text-transform: uppercase;
}

.description_card {
    font-family: var(--font-family);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-5);
    line-height: var(--line-height-1);
    text-transform: uppercase;
}

.value_name_card
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-5);
    line-height: var(--line-height-1);
}

.value_card
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    line-height: var(--line-height-1);
}

/* Admin Options */

.form_category
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-2);
    line-height: var(--line-height-1);
}

.button
{
    font-family: var(--font-family);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-5);
    line-height: var(--line-height-1);
}

