@font-face {
    font-family: 'Anton';
    src: url('../../../style/fonts/anton.woff2');
}

.title {
    position: absolute;
    text-decoration: underline 2px;
    top: 420px;
    right: 35px;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: 'Anton';
    z-index: 99;
}

.meeting-background {
    position: relative;
    top: -100px;
    left: 0;
    margin: 0;
    background-image: url("../../../style/background-image/meeting-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 800px;
    font-size: 0;
    z-index: -1;
    border-radius: 0px 0px 300px 300px;
}

.o-meetings {
    margin: 0;
}