@font-face {
    font-family: 'Anton';
    src: url('../../../style/fonts/anton.woff2');
}

body {
    background-image: url("../../organisms/hero/background.png");
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-position: top center;
}

.o-hero {
    position: relative;
    top: 300px;
    background-color: var(--base-200);
    height: 956px;
    width: 100%;
    font-family: 'Anton';
    padding-top: 20px;
}

.title {
    font-size: 60px;
}

.subtitle {
    font-size: 28px;
}

.description {
    font-size: 24px;

}