@font-face {
    font-family: 'Anton';
    src: url('../../../style/fonts/anton.woff2');
}

body {
    background-image: url("../../organisms/hero/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


.o-hero {
    /* background-image: url("../../organisms/hero/background.png"); */
    /* background-size: cover; */
    overflow: auto;
    margin: 0;
    padding-top: 253px;
    text-align: center;
    background-color: var(--base-200);
    height: 956px;
    width: 100%;
    font-family: 'Anton';
    padding-top: 20px;
}

h1 {
    font-size: 60px;

}

h2 {
    font-size: 28px;

}

h3 {
    font-size: 20px;

}