@font-face {
    font-family: 'Anton';
    src: url('../../../style/fonts/anton.woff2');
}

.o-hero {
    position: relative;
    background-image: url("../../organisms/hero/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 956px;
    width: 100%;
    font-family: 'Anton';
}

.o-hero .o-hero-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    left: 120px;
    top: 320px;
}

.title {
    font-size: 50px;
}

.subtitle {
    font-size: 28px;
}

.description {
    font-size: 24px;

}

@media (max-width: 1150px){
    .o-hero .o-hero-text{
        left: 60px;
        top: 320px;
    }
}

@media (max-width: 500px){
    .o-hero .o-hero-text{
        left: 32px;
        top: 320px;
    }
}