@font-face {
    font-family: 'Anton';
    src: url('../../../style/fonts/anton.woff2');
}

body {
    background-color: #000E41;
}

.title {
    position: absolute;
    top: 0px;
    right: -15px;
    transform: translateX(-50%);
    font-size: 64px;
    font-family: 'Anton';
    z-index: 99;
}