@font-face {
  font-family: 'Anton';
  src: url('../../../style/fonts/anton.woff2');
}


.o-insta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 12px 34px;
}

.insta {
  font-family: 'Anton';
  font-size: 30px;
  margin: 20px;
}