@font-face {
  font-family: 'Anton';
  src: url('../../../style/fonts/anton.woff2');
}

.o-insta {
  /* max-width: 450px;
  width: calc(100% - 2px);
  border-radius: 10px;
  box-shadow: none;
  display: block;
  margin: 0px 0px 12px;
  min-width: 449px;
  padding: 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 34px;
}

h1 {
  font-family: 'Anton';
}

hr {
  height: 50px;
}